<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck-blink-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,25},{114,214}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{114,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-blink-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,25},{114,214}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{114,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,25},{120,214}}</string>
                <key>offset</key>
                <string>{-31,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{120,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,25},{196,192}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,84},{196,192}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,25},{230,188}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,88},{230,188}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,25},{226,200}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,78},{226,200}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,25},{216,208}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,70},{216,208}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,25},{224,204}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,74},{224,204}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,25},{222,200}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,78},{222,200}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,25},{228,202}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,76},{228,202}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,250},{224,204}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,74},{224,204}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,250},{222,202}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,76},{222,202}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,250},{118,222}}</string>
                <key>offset</key>
                <string>{-32,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,49},{118,222}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,250},{110,224}}</string>
                <key>offset</key>
                <string>{-35,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,47},{110,224}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,250},{104,222}}</string>
                <key>offset</key>
                <string>{-39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,49},{104,222}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,250},{104,222}}</string>
                <key>offset</key>
                <string>{-39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,49},{104,222}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,250},{116,224}}</string>
                <key>offset</key>
                <string>{-33,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,47},{116,224}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,250},{134,228}}</string>
                <key>offset</key>
                <string>{-23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,43},{134,228}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,250},{140,232}}</string>
                <key>offset</key>
                <string>{-21,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,39},{140,232}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-puke-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,250},{188,192}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,78},{188,192}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-quack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,250},{118,214}}</string>
                <key>offset</key>
                <string>{-32,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{118,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-quack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,250},{118,214}}</string>
                <key>offset</key>
                <string>{-32,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{118,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
            <key>duck-standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,250},{114,214}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,57},{114,214}}</string>
                <key>sourceSize</key>
                <string>{554,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5bdefe9435e7d298389fa911a1fb30$</string>
            <key>textureFileName</key>
            <string>duck.png</string>
        </dict>
    </dict>
</plist>
