<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duckpuke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,282}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,59},{146,282}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{154,282}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,59},{154,282}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{258,252}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,96},{258,252}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke11.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{304,248}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,100},{304,248}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke12.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{300,262}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,88},{300,262}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{284,272}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,78},{284,272}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,0},{296,268}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,82},{296,268}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,0},{294,264}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,86},{294,264}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{300,266}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,84},{300,266}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,282},{294,268}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,82},{294,268}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke18.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,282},{292,266}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,84},{292,266}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,282},{152,294}}</string>
                <key>offset</key>
                <string>{-28,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,47},{152,294}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,282},{142,296}}</string>
                <key>offset</key>
                <string>{-32,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,45},{142,296}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,282},{134,292}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,49},{134,292}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,282},{134,292}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,49},{134,292}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,282},{150,294}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,47},{150,294}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,282},{174,302}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,39},{174,302}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,282},{182,306}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,35},{182,306}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>duckpuke9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{248,252}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,87},{248,252}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duckpuke.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ed0d0bef6b7b9d425768b7fd8ee0abd$</string>
            <key>textureFileName</key>
            <string>duckpuke.png</string>
        </dict>
    </dict>
</plist>
